<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Right</title>
    <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="estilosIndex.css">
  </head>
  <body>
    <nav class="navbar navbar-light">
        <img src="/logob.png" width="200" height="100" class="d-inline-block align-top logo" alt="">
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-md-4 columna" id="1"><img class="imagen" id="imagen1" src="./fondos/perfil.jpg" onclick="openImg(1)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="2"><img class="imagen" id="imagen2" src="./fondos/serio.jpg" onclick="openImg(2)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="3"><img class="imagen" id="imagen3" src="./fondos/sonrisa.jpg" onclick="openImg(3)"></div>
        </div>
        <div class="w-100"></div>
        <div class="row">
            <div class="col col-sm-12 col-md-4 columna" id="4"><img class="imagen" id="imagen4" src="./fondos/sup.jpg" onclick="openImg(4)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="5"><img class="imagen" id="imagen5" src="./fondos/bocaAbierta.jpg" onclick="openImg(5)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="6"><img class="imagen" id="imagen6" src="./fondos/inferior.jpg" onclick="openImg(6)"></div>
        </div>
        <div class="w-100"></div>
        <div class="row">
            <div class="col col-sm-12 col-md-4 columna" id="7"><img class="imagen"  id="imagen7" src="./fondos/bocaDer.jpg" onclick="openImg(7)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="8"><img class="imagen" id="imagen8" src="./fondos/dientesFrente.jpg" onclick="openImg(8)"></div>
            <div class="col col-sm-12 col-md-4 columna" id="9"><img class="imagen" id="imagen9" src="./fondos/bocaIzq.jpg" onclick="openImg(9)"></div>
        </div>
        <div class="row">
            <div class="col col-sm-12 col-md-4  columna divBoton" ><button type="button" id="botonDescargar" class="boton btn btn-success" data-bs-toggle="modal" data-bs-target="#modalFinalizar" style="display: none;">Finalizar</button></div>
            <div class="col col-sm-12 col-md-4 columna divBoton"><button type="button" class="boton btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar Imagenes</button></div>
            <div class="col col-sm-12 col-md-4  columna" ></div>
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea eliminar todas las imagenes?</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-danger" onclick="eliminarImagenes()" data-bs-dismiss="modal">Eliminar</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal" id="modalFinalizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="exampleModalLabel">¿Como quiere continuar?</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-active"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalDescargar">Exportar</button>
                      <button type="button" class="btn btn-active" onclick="pedirRecomendacion()" data-bs-dismiss="modal">Cargar registros</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal fade" id="modalDescargar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 id="exampleModalLabel">Ingrese nombre y apellido del paciente:</h5>
                        <input type="text" id="datosPaciente" placeholder="Juan Suarez">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-active" onclick="descargar()" data-bs-dismiss="modal">Descargar imagenes </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>   
    <script>
        function openImg(id){
            localStorage.setItem("idImagen",id);
            console.log(id);
            if (document.getElementById(id).getElementsByTagName("img")[0].src.substring(0, 4)!="http"){ //si ya saco la foto que vaya a editar
                window.location.href = "http://localhost:3000/editar"; 
            }
            else{
                window.location.href = "http://localhost:3000/capturar"; 
            }
        }
        $(document).ready(function() {
            insertarImagen();
        })

        function eliminarImagenes(){
            localStorage.clear();
            window.location.href = "http://localhost:3000/"; 
        }

        function pedirRecomendacion(){
          localStorage.setItem("fotosCapturadas", "true");    
          location.href="http://localhost:3000/solicitarRecomendacion.html";
        }

        function insertarImagen(){
            var i = 0;
            var idImagen = 0;
            var cantImagenes = 0;
            while (i < document.getElementsByClassName("columna").length){
                idImagen = parseInt(document.getElementsByClassName("columna")[i].id)
                if(localStorage.getItem("imagen"+ idImagen ) != null){
                    document.getElementsByClassName("columna")[i].firstChild.src=localStorage.getItem("imagen"+idImagen);
                    cantImagenes++;
                }
                i++;
            }
            localStorage.setItem("cantImagenes",cantImagenes);
            if(cantImagenes == 9){
                document.getElementById("botonDescargar").style.display="block";
                document.getElementById("4").scrollIntoView();
            }
            else{
              localStorage.setItem("fotosCapturadas", "false");    
            }
        }
        
        var idMConNombreSilueta=new Map([
        [1,"perfil"],
        [2,"serio"],
        [3,"caraSonriendo"],
        [4,"maxSuperior"],
        [5,"bocaAbierta"],
        [6,"maxInferior"],
        [7,"cerradoDer"],
        [8,"frenteSonriendo"],
        [9,"cerradoIzq"],
        ]);

        function descargar(){  
            var nombreApellido = $("#datosPaciente").val();
            let bd=document.getElementById("botonDescargar");
            $(".modal-backdrop").removeClass("show");
            i=1;
            while(i<=9){ 
                let img=document.getElementById("imagen"+i);
                let impath=img.getAttribute('src');
                let fn=getFileName(impath);
                saveAs(impath,nombreApellido+idMConNombreSilueta.get(i));
                i++;
            }
        }

        function getFileName(str){
            return str.substring(str.lastIndexOf('/')+1);
        }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    </body>
</html>
