<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png">
  <title>All Right</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="estilosHome.css">
  <link rel="stylesheet" href="estilosAgregarPacientes.css">
  <link rel="stylesheet" href="estilosSolicitarRecomendacion.css">


</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
    <a href="#">Configuracion</a>
    <a href="#">Cerrar Sesión</a>
  </div>
  <nav class="navbar navbar-dark navbar-expand-lg nav">
    <div class="container-fluid">
      <span style="font-size:30px;cursor:pointer" id="desplegable" onclick="openNav()">&#9776;</span>
      <label id="nombreDoctor" >Pacientes</label>
    </div>
  </nav>
  <div class="container" style="margin-top: 2%">
    <div class="container" style=" background-color:  white; color: #5ab9a1; border-radius: 3px;">
        <p style="padding: 10px;">Dr./Dra. Cavilieri </br> / Solicitar Recomendacion</p>
    </div>
    <!-- <h2 style="color:#5ab9a1">Solicitar recomendación</h2>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> -->

      <div class="stepwizard col-12">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step col-2 ">
            <a href="#step-1" type="button" class="btn btn-circle botonPasoActivo">1</a>
            <p class="descripcionBoton">Clinica</p>
          </div>
          <div class="stepwizard-step col-2">
            <a href="#step-2" type="button" class="btn btn-default btn-circle botonPaso" disabled="disabled">2</a>
            <p class="descripcionBoton">Paciente</p>
          </div>
          <div class="stepwizard-step col-2">
            <a href="#step-3" type="button" class="btn btn-default btn-circle botonPaso" disabled="disabled">3</a>
            <p class="descripcionBoton">Consulta</p>
          </div>
          <div class="stepwizard-step col-2">
            <a href="#step-4" type="button" class="btn btn-default btn-circle botonPaso" disabled="disabled">4</a>
            <p class="descripcionBoton">Fotos</p>
          </div>
          <div class="stepwizard-step col-2">
            <a href="#step-5" type="button" class="btn btn-default btn-circle botonPaso" disabled="disabled">5</a>
            <p class="descripcionBoton">Rx</p>
          </div>
          <div class="stepwizard-step col-2">
            <a href="#step-6" type="button" class="btn btn-default btn-circle botonPaso" disabled="disabled">6</a>
            <p  class="descripcionBoton">Confirmar</p>
          </div>
        </div>
      </div>
      
      <form role="form" action="" method="post">
        <div class="row setup-content" id="step-1">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton" >Clínica</h3>
              <div class="form-group">
                <label class="control-label tituloColor">Consultorio</label>
                <br>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option class="tituloColor">- Elija una opción -</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <br>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-2" style="margin-bottom: 12%;">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton">Datos personales</h3>
              <div class="form-group">
                <label class="control-label descripcionBoton">Nombre</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Inicial del segundo nombre</label>
                <input maxlength="1" type="text" class="form-control" placeholder="Inicial segundo nombre">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Apellidos</label>
                <input maxlength="1" type="text" required="required" class="form-control" placeholder="Apellido">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Fecha de nacimiento</label>
                <input  type="datetime" required="required" class="form-control" placeholder="Fecha de nacimiento">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton ">Sexo</label>
                <br>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option >- Seleccionar género -</option>
                  <option>Masculino</option>
                  <option>Femenino</option>
                  <option>No especifica</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Enviar a</label>
                <input type="text" required="required" class="form-control" placeholder="Ingrese dirección">
              </div>
              <br>
              <button class="btn prevBtn btn-lg pull-left" id="anterior" type="button"><- Anterior</button>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
              <br>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-3">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton">Consulta</h3>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Name</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Address</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address">
              </div>
            </br>
              <button class="btn prevBtn btn-lg pull-left" id="anterior" type="button"><- Anterior</button>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-4">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton">Fotos</h3>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Name</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Address</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address">
              </div>
            </br>
              <button class="btn prevBtn btn-lg pull-left" id="anterior" type="button"><- Anterior</button>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-5">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton">Rx</h3>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Name</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name">
              </div>
              <div class="form-group">
                <label class="control-label descripcionBoton">Company Address</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address">
              </div>
            </br>
              <button class="btn prevBtn btn-lg pull-left" id="anterior" type="button"><- Anterior</button>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-6">
          <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
              <h3 class="descripcionBoton">Confirmar</h3>
            </br>
              <button class="btn prevBtn btn-lg pull-left" id="anterior" type="button"><- Anterior</button>
              <button class="btn nextBtn btn-lg pull-right" id="siguiente" type="button">Siguiente -></button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <nav class="navbar navbar-dark" id="footer">
    <a class="navbar-brand" href="home.html">  <i class="bi bi-columns-gap"></i> </br> Panel de control</a>
    <a class="navbar-brand" href="agregarPacientes.html"><i class="bi bi-plus-square"></i>  </br>Agregar paciente</a>
    <a class="navbar-brand" href="#"> <i class="bi bi-person-lines-fill"></i></br>Pacientes</a>
  </nav>  
</body>
<script> 
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    // document.getElementsByClassName("container")[0].style.marginLeft= "0";
    document.getElementsById("mySidenav").style.marginLeft= "0";
  }

  $(document).ready(function () {
    var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
          allPrevBtn = $('.prevBtn');
  
    allWells.hide();
  
    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
                $item = $(this);
  
        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('botonPasoActivo').addClass('btn-default');
            $item.addClass('botonPasoActivo');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });
    
    allPrevBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            
            prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

  
            prevStepWizard.removeAttr('disabled').trigger('click');
            prevStepWizard.removeClass('botonPaso').addClass('botonPasoActivo');
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().children("a"),
            nextStepWizard.addClass('botonPaso');            

    });
  
    allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            isValid = true;
            
            /* curInputs = curStep.find("input[type='text'],input[type='url']"),
  
        
        $(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }
  */
        if (isValid){ 
            nextStepWizard.removeAttr('disabled').trigger('click');
            nextStepWizard.removeClass('botonPaso').addClass('botonPasoActivo');
            prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().children("a"); // como estoy en el siguiente ahora busco el anterior para ponerlo gris
            prevStepWizard.addClass('botonPaso');            
        }
    });
  
    $('div.setup-panel div a.botonPasoActivo').trigger('click');
  });
 </script>
</body>
</html