<!DOCTYPE html>
<html>
<head>
  <script src="/face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/7637a6_216683f7d2ad462083dd23288f17ba17%7Emv2.png">
  <title>All Right</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="estilosTomarFoto.css">
</head>
<body>
  <div class="container">
  
    <br>
    <div class="row">
      <h3 style="text-align: center;color:white;padding-top:2%">Titulo foto capturada</h3>
    </div>
    <div class="row">
      <h5 id="textoSonrisa" style="visibility:hidden;text-align: center;color:white;">Sonreí un poco más</h7>

    </div>
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <div style="position: relative;" class="">
          <canvas id="canvas" style="overflow:auto;"></canvas>
          <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
          <canvas id="overlay" style=" left:0;">
        </div>
        <img class="silueta" id="cerradoIzq" src="imagenesSiluetas/cerradoIzq.png"/>
        <img class="silueta" id="cerradoDer" src="imagenesSiluetas/cerradoDer.png"/>
        <img class="silueta" id="serio" src="imagenesSiluetas/serio.png"/>
        <img class="silueta" id="caraSonriendo" src="imagenesSiluetas/caraSonriendo.png"/>
        <img class="silueta" id="maxInferior" src="imagenesSiluetas/maxInferior.png"/>
        <img class="silueta" id="maxSuperior" src="imagenesSiluetas/maxSuperior.png"/>
        <img class="silueta" id="perfil" src="imagenesSiluetas/perfil.png"/>
        <img class="silueta" id="frenteSonriendo" src="imagenesSiluetas/frenteSonriendo.png"/>
      </div>
    </div>   
    <div class="row">
      <div class="col s10 l8 offset-s1 offset-l2">
        <div class="center">
          <button class="boton" onclick="cancelar()"  style="background: url('./fotosBotones/cancelar.png')"  id="cancelar"></button> 
          <button class="boton" onclick="capturar()" style="background: url('./fotosBotones/circulo.png');" id="capturar"></button> 
        </div>
      </div>
    </div>
  </div>
  </body>
  <script>
    let espejoActivado = false
    let forwardTimes = []
    let withBoxes = true

    function activarEspejo(){
      if(!espejoActivado){ 
        alert("Se ha activado la opción espejo") 

        $('#espejo').get(0).style.background = "url('./fotosBotones/espejo.png')"
        espejoActivado = true
      }else{
       alert("Se ha desactivado la opción espejo")

        $('#espejo').get(0).style.background = "url('./fotosBotones/espejoTachado.png')"
        espejoActivado = false

      }
    }
    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.utils.round(1000 / avgTimeInMs)}`)
    }

    async function onPlay() {
      const videoEl = $('#inputVideo').get(0)

      if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
        return setTimeout(() => onPlay())


      const options = getFaceDetectorOptions()

      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options).withFaceExpressions()

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0)
        const dims = faceapi.matchDimensions(canvas, videoEl, true)

        const resizedResult = faceapi.resizeResults(result, dims)
        const minConfidence = 0.05
        if (withBoxes) {
          // faceapi.draw.drawDetections(canvas, resizedResult)
        }
       
        if(JSON.stringify(resizedResult.expressions.happy )> 0.95 && localStorage.getItem("idImagen") == 3 || JSON.stringify(resizedResult.expressions.happy )< 0.95 && localStorage.getItem("idImagen") == 2){
          $('#capturar').get(0).style.visibility = "visible";
          $('#textoSonrisa').get(0).style.visibility = "hidden";

        }
        else if(localStorage.getItem("idImagen") == 3 || localStorage.getItem("idImagen") == 2){
          $('#capturar').get(0).style.visibility = "hidden";
          $('#textoSonrisa').get(0).style.visibility = "visible";
        }
        if(localStorage.getItem("idImagen") == 2){
          $('#textoSonrisa').get(0).innerHTML = "Mantenete serio";
          // $('#textoSonrisa').get(0).style.visibility = "hidden";
        }
        // faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence) lo comento pero tb se puede dejar
      }

      setTimeout(() => onPlay())
    }

    async function run() {
      // load face detection and face expression recognition models
      await changeFaceDetector(TINY_FACE_DETECTOR)
      await faceapi.loadFaceExpressionModel('/')
      changeInputSize(224)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream
    }

    function updateResults() {}

    function toast() {
      if(!espejoActivado){ 
        Materialize.toast('Se ha activado la opción espejo', 2000); 
        $('#espejo').get(0).style.background = "url('./fotosBotones/espejo.png')"
        espejoActivado = true
      }
      else{
        Materialize.toast('Se ha desactivado la opción espejo', 2000);  
        $('#espejo').get(0).style.background = "url('./fotosBotones/espejoTachado.png')"
        espejoActivado = false
      }
    }

    $(document).ready(function() {
      espejoActivado =false;
      if(localStorage.getItem("idImagen") == 4 || localStorage.getItem("idImagen") == 5 || localStorage.getItem("idImagen") == 6 || localStorage.getItem("idImagen") == 8){
        Materialize.toast('La opcion espejo se encuentra desactivada', 2000);  
        $('.center').append ('<button class="boton" onclick="toast()" id="espejo"></button>' );
      }
      initFaceDetectionControls()
      asignarSiluetaCorrespondiente();
      run()
    })
    
    function capture() {
    var canvas = document.getElementById("canvas");
    var video = document.querySelector("video");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas
      .getContext("2d")
      .drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
    const playImage = new Image();
    playImage.src = "path to image asset";
    playImage.onload = () => {
      const startX = video.videoWidth / 2 - playImage.width / 2;
      const startY = video.videoHeight / 2 - playImage.height / 2;
      canvas
        .getContext("2d")
        .drawImage(playImage, startX, startY, playImage.width, playImage.height);
      canvas.toBlob() = (blob) => {
        const img = new Image();
        img.src = window.URL.createObjectUrl(blob);
      };
    };
  }
  
  capture();
  
    // --------------------------------------------
    let idMConNombreSilueta=new Map([
    [1,"perfil"],
    [2,"serio"],
    [3,"caraSonriendo"],
    [4,"maxSuperior"],
    [5,"maxInferior"],
    [6,"cerradoDer"],
    [7,"frenteSonriendo"],
    [8,"cerradoIzq"],
    ]);

    function asignarSiluetaCorrespondiente(){
      var idImagen = parseInt(localStorage.getItem("idImagen"));
      document.getElementById(idMConNombreSilueta.get(idImagen)).style.cssText += "display:block";   
    }

    function capturar() {
      localStorage.setItem("cantImagenes",parseInt(localStorage.getItem("cantImagenes")+1));
      var canvas = document.getElementById("canvas");
      canvas.style.display = "none";
      var video = document.querySelector("video");
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext("2d").drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
      let image = canvas.toDataURL('image/jpeg');
      //Ac;a habira que fijarse ocmo estala variable espejoActivado. Si es true y el getIDiMAGEN ES maxilar entonces rotarla de una forma, si es true y el get
      // idMImagen es el otro, rotarlode la otra forma y sino, no hacer nada
      localStorage.setItem("imagen"+ parseInt(localStorage.getItem("idImagen")), image);
      localStorage.setItem("espejo", espejoActivado);
      location.href="http://localhost:3000/editar";
    }

    function cancelar(){
      location.href="http://localhost:3000/";
    }
  </script>
</body>
</html